<div class="userinfo-container" [@flyIn]="'active'">
    <form class="form-vertical" role="form">
          <div class="row">
            <div class="col-sm-12">
                <div class="row">
                        <div class="col-sm-1">

                          <div class="input-group btn-radis">
                            <div class="input-group-addon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                              {{type.name}}<span class="caret"></span>
                            </div>
                            <ul class="dropdown-menu">
                              <li (click)="type={'name':'提现',value:0}">提现</li>
                              <li (click)="type={'name':'回款',value:1}">回款</li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group">
                              <span class="input-group-addon" id="basic-addon3">手机号</span>
                              <input type="text" class="form-control" id="basic-url"  placeholder="请输入手机号" 
                              [(ngModel)]="search.mobile" id="mobile" name="mobile">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="input-group">
                              <span class="input-group-addon" id="basic-addon3">开始时间</span>
                              <input type="text" value = "{{search.startTime.toLocaleDateString()}}" class="form-control" (focus)="showDatePicker = true;">
                                <div [hidden]="!showDatePicker" style="position: absolute; z-index:10; min-height:290px;">
                                <datepicker [(ngModel)]="search.startTime" [maxDate]="search.endTime" [showWeeks]="true"  id="startTime" name="startTime"  (selectionDone)="dataChange('showDatePicker')" ></datepicker>
                                </div>
                            </div>
                        </div>
                         <div class="col-lg-3">
                            <div class="input-group">
                              <span class="input-group-addon" id="basic-addon3">结束时间</span>
                              <input type="text" value = "{{search.endTime.toLocaleDateString()}}" class="form-control" (focus)="showDatePicker1 = true;" >
                                <div [hidden]="!showDatePicker1" style="position: absolute; z-index:10; min-height:290px;">
                                <datepicker [(ngModel)]="search.endTime"  [minDate]="search.startTime" [showWeeks]="true" id="endTime" name="endTime"  (selectionDone)="dataChange('showDatePicker1')" ></datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1">
                           <span class="input-group-btn" style="width: 60px">
                              <button class="btn btn-default" type="button" (click)="getByPage(1)"><i class="fa fa-search" aria-hidden="true"></i> {{'search' | translate}}</button>
                          </span>
                           <span class="input-group-btn" style="width: 60px">
                              <a class="btn btn-default" type="button" href="{{down}}"><i class="fa fa-download" aria-hidden="true"></i> 导出</a>
                          </span>
                        </div>
                </div>
            </div>
        </div>   
        <div class="row">
            <div class="col-sm-12">
                <div class="row" style="margin-bottom:10px;">
  
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-12">
            <div class="operating-item-container">
                <table class="table table-bordered">
                   <thead>
                        <tr class="center">
                            <th>类型 </th>
                            <th>用户id </th>
                            <th>用户名 </th>
                            <th>真实姓名 </th>
                            <th>手机号 </th> 
                            <th>注册时间 </th> 
                            <th>投资次数（定）</th>
<!--                             <th>总用户数</th> -->
                            <th [hidden]="search.type==0">回款利率</th>
                            <th [hidden]="search.type==0">回款金额</th>
                            <th [hidden]="search.type==0">回款时间</th>
                            <th [hidden]="search.type==1">提现金额</th>
                            <th [hidden]="search.type==1">提现时间</th>
                        </tr>
                       
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of list">
                           <td>{{item.type}}</td>
                           <td>{{item.userId}}</td>
                           <td>{{item.userName}}</td>
                           <td>{{item.realName}}</td>
                           <td>{{item.mobile}}</td>
                           <td>{{item.regTime}}</td>
                           <td>{{item.rechargeTimes}}</td>
<!--                            <td>{{item.totalUserNum}}</td> -->
                           <th [hidden]="search.type==0">{{item.rate}}</th>
                           <td>{{item.amount}}</td>
                           <td>{{item.dealTime}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="alert alert-info alert-dismissible" role="alert" >
              {{totalDesc}}
            </div>
           <pagination [totalItems]="page.totalItems" [maxSize]="page.maxSize" [itemsPerPage]="page.itemsPerPage" [(ngModel)]="page.currentPage" firstText="{{'firstPage' | translate}}" lastText="{{'lastPage' | translate}}" previousText="{{'previousPage' | translate}}" nextText="{{'nextPage' | translate}}" [boundaryLinks]="true" [rotate]="false" (numPages)="page.numPages = $event" (pageChanged)="pageChanged($event)" class="pagination-sm"></pagination>
        </div>
    </div>
</div>
