  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
  .table{
    th{
      text-align:center;
    }
  }
  .operating-item-container{width:100%;overflow-x:auto}