<div class="walletchart-table-container" [@flyIn]="'active'">
    <form class="form-vertical" role="form">
         <div class="alert alert-info alert-dismissible" role="alert" >
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          钱包统计<strong *ngIf="errorMessage !=null && errorMessage != ''">-{{errorMessage}}</strong> 
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                        <div class="col-lg-3">
                            <div class="input-group">
                              <span class="input-group-addon" id="basic-addon3">渠道</span>
                              <input type="text" class="form-control" placeholder="请输入渠道名" 
                              [(ngModel)]="search.name" id="name" name="name">
                            </div>

                        </div>
                        <div class="col-lg-3">
                            <div class="input-group">
                              <span class="input-group-addon" id="basic-addon3">开始时间</span>
                              <input type="text" value = "{{search.startTime.toLocaleDateString()}}" class="form-control" (focus)="showDatePicker = true;">
                                <div *ngIf="showDatePicker" style="position: absolute; z-index:10; min-height:290px;">
                                <datepicker [(ngModel)]="search.startTime"   [maxDate]="search.endTime" [showWeeks]="true" (selectionDone)="dataChange('showDatePicker')" id="startTime" name="startTime"></datepicker>
                                </div>
                            </div>
                        </div>
                         <div class="col-lg-3">
                            <div class="input-group">
                              <span class="input-group-addon" id="basic-addon3">结束时间</span>
                              <input type="text" value = "{{search.endTime.toLocaleDateString()}}" class="form-control" (focus)="showDatePicker1 = true;">
                                <div *ngIf="showDatePicker1" style="position: absolute; z-index:10; min-height:290px;">
                                <datepicker [(ngModel)]="search.endTime"  [minDate]="search.startTime" [showWeeks]="true" (selectionDone)="dataChange('showDatePicker1')" id="endTime" name="endTime"></datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                         <span class="input-group-btn">
                            <button class="btn btn-default" type="button" (click)="getByPage()"><i class="fa fa-search" aria-hidden="true" ></i> {{'search' | translate}}</button>
                        </span>
                        </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-12">
            <div class="comment-item-container">
                <table class="table table-bordered">
                   <thead>
                       <tr>
                            <th width="150px" align="center">日期</th>
                            <th width="100px" align="center">充值钱包人数</th>
                            <th width="100px" align="center">流水进(银行卡)</th>
                            <th width="150px" align="center">流水进(还本付息)</th>
                            <th width="150px" align="center">流水出(提现)</th>
                            <th width="150px" align="center">流水出(购买产品)</th>
                            <th width="100px" align="center">钱包余额</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of list">
                            <td>{{item.statisTime}}</td>
                            <td>{{item.rechargePersons}}</td>
                            <td>{{item.rechargeFromBank}}</td>
                            <td>{{item.rechargeFromProject}}</td>
                            <td>{{item.rechargeToBank}}</td>
                            <td>{{item.rechargeToProject}}</td>
                            <td>{{item.residualAmount}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
