.container{
  width:100%;
  .table{border:0;margin:0;}
  border: 1px solid #ddd;
  font-size:12px;
  th{text-align:center}
  }
.btn-radis{
	height:35px;
	width:100%;
	.input-group-addon{
		border:1px solid #ccc;
		background:#fff;
		width:50%;
		.caret{
			float:right;
			margin:5px;
		}
	}
	.input-group2{
	    color: #555;
	    text-align: center;
	    background-color: #eee;
	    border: 1px solid #ccc;
	}
	.dropdown-menu{
		min-width:100%;    
		font-size:14px;
		text-align:center;
		li:hover{
		    color: #fff;
		    background-color: #337ab7;
		    border-color: #337ab7;
		}
    }

}